<div class="container">
  <mat-card class="form-card">
    <mat-card-content>
      <h2>書籍登録</h2>

      <mat-form-field appearance="outline">
        <input matInput placeholder="書籍名" [(ngModel)]="title" />
      </mat-form-field>

      <mat-form-field appearance="outline">
        <textarea matInput rows="3" placeholder="あらすじ" [(ngModel)]="description"> </textarea>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <input matInput type="number" placeholder="評価点" [(ngModel)]="score" />
      </mat-form-field>
    </mat-card-content>

    <mat-card-actions>
      <button mat-raised-button color="primary" (click)="addBook()">追加</button>
    </mat-card-actions>
  </mat-card>

  @for (book of bookList; track book.name) {
    <app-book-card [book]="book"></app-book-card>
  }

  <div class="logs">
    @for (log of logs; track $index) {
      <div>{{ log }}</div>
    }
  </div>
</div>
