.container {
  width: 700px;
  margin: 30px auto;
}

.spacer {
  flex: 1 1 auto;
}

mat-toolbar {
  margin-bottom: 20px;
}

mat-card {
  margin-bottom: 20px;
  padding: 16px;
}

mat-form-field {
  width: 100%;
}

.button-area {
  display: flex;
  justify-content: flex-end;
}